@use '../abstract/function' as func;
@use '../abstract/mixins' as mixins;
@import "../components/forms";

.contact{
    padding:4rem 6rem;
    background-color: rgba(185, 183, 183, 0.829);

    @include mixins.responsive(xs){
        padding:1rem 1rem;
    }
    &--card{
        p{
            font-size: small;
        }
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 10px;
        padding: 1rem 2rem;

        @include mixins.responsive(xs){
            flex-direction: column;
        }

        &__form{
            flex-grow: 1;
        }
    }

}