@use "../abstract/mixins" as mixins;
.hero-area{
    display:flex;
    justify-content: space-around;
    padding: 5rem 15rem;
    align-items: center;
    margin-top: 120px;

    @include mixins.responsive(xs){
        flex-direction: column;
        padding: 1rem 2rem;
        margin-top: 70px;
    }
    &--contant{
        max-width: 34rem;
    }
    &--title{
        font-size: 2rem;
    }
    &--desc{
        margin-top: 1rem;
        font-size: 1rem;
        color:gray;
        text-align: justify;
        line-height: 1.8;
    }
}