@use '../abstract/variables' as var;
@use '../abstract/function' as func;
@use '../abstract/mixins' as mixins;

.courses{
    padding: 4rem 10rem;
    background-color: blue;

    @include mixins.responsive(xs){
        padding:2.5rem 1rem;
    }

    &--heading{
        text-align: center;
        color:aliceblue;
        p{
            font-size: small;
        }
    }

    &--cards{
        display: flex;
        justify-content: space-between;

        @include mixins.responsive(xs){
            flex-direction: column;
            align-content: space-between;
            align-items: center;
            
        }
    }

    &--card{
        max-width: 300px;
        background-color: beige;
        border-radius: 10px;
        overflow: hidden;
        img{
            max-width: 300px;
        }

        &__body{
            h2{
                font-size: 1.1rem;
            }
            p{
                color:gray;
                font-size: 0.9rem;
                line-height: 1.5;
                text-align: justify;
            }
        }

        a{
           color:rgba(0,0,0,0.938)
        }

        &:hover{
            box-shadow: 2px 2px 20px 5px rgba(54, 53, 53, 0.849);
        }
    }

    &--info{
        text-align: center;
        color:antiquewhite;
        font-size: small;
        display: flex;
        justify-content: center;
        @include mixins.responsive(xs){
            flex-direction: column;
        }

        a{
            color:#fff;
        }

        a:hover{
            color:black
        }
    }
}